@font-face {
    font-family: 'Celtic';
    src: url('../fonts/CELTG___.TTF');
}

header img {
    max-width: 50%;
}

h2 {
    font-family: 'Celtic', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6f0e1a;
}

nav ul {
    list-style-type: none;
    font-family: europa, sans-serif;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

p {
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.25rem;
}
